.DS_Store

.gocache/
bin/

## EXAMPLE
example/**/doc-builder
example/**/.vitepress/config.js
example/**/.vitepress/dist/
example/**/temp/

# CUSTOM
## CC
.claude/*
.claude/**/*
.gemini/*
.gemini/**/*
.codex/*
.codex/**/*
.spec/*

## DOC
.doc/.vitepress/dist/
.doc/.vitepress/.temp/
.doc/.vitepress/cache/
.doc/.vitepress/config.js
.doc/node_modules/
.doc/temp/
